/*Bootstrap modification*/
/*Basic*/


/*NavBar*/

.navbar{
    background-color: black !important;
    color: white !important;
    justify-content: flex-end;
}


.navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}

navbar-toggler-icon {
    color: white !important;
}

.navbar-collapse {
    flex-grow: 0;
}

/*CArds*/
.card {
    background-color: #82216e !important;
}



/* Basic items */
body {
    color: white;
    background-color: black!important;
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    margin: 0 200 0 200;
	  background-image: url("pics/forest.jpg");
}


.facebook {
	height: 50px;
	width: 50px;
	border-radius:15px;
}

.Instagram {
	height: 50px;
	width: 50px;
	border-radius:15px;
	
}

.youtube {
	height: 50px;
	width: 50px;
	border-radius:15px;
	
}

.ThreeCardsBox {
  display: flex;
  }

.flexcontainer {
  display: flex; 
  justify-content: space-around; 
}

.Jani {
  max-height: 150px;
  max-width: 150px;
  margin: 10px 10px;
	border-radius: 5%;
  }

.CP {
  max-width: 150px;
  max-height: 150px;
  margin: 10px 10px;
  text-align: center;
  align-self: center;
}  

a:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a:hover {
  transform: scale(1.5);
  color: white;
}

/*Width of cards and containers*/
@media (max-width: 1000px) {
body.sm-full {
     margin: 0 0 0 0;
    }

.ThreeCardsBox {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  }

.flexcontainer {
    max-width: 100%;
    display: flex; 
    flex-direction: column;
   }


.CP {
    max-width: 150px;
    text-align: center;
    align-self: center;  
    }     
  }

@media (max-width: 768px) {
.ThreeCardsBox {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .CP {
    max-width: 150px;
    text-align: center;
    align-self: center;  
    }  

}





































/*Facebook icon */

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}