                                                                                    /*Igyekszem rendezni mindent csoportosítva !!!!!!!!!!*/
/*Bootstrap modification*/
/*Basic*/
body {
    color: white;
    background-color: black !important;
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    margin: 0px 200px 0px 200px;
    background-image: url("pics/forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0% 15% 0% 15%;
}

ul {
    list-style: none;
}

/*NavBar ide jöhet minden navBaros ötlet ez a szekciója*/

.navbar {
    background-color: black !important;                                 /*  Tettem új BGcolort ehelyett:  background-color: #444477 black !important;*/
    color: white !important;
    justify-content: flex-end;
    opacity: 0.9;
}

.navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}

navbar-toggler-icon {
    color: white !important;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link {
    margin: 0px 10px 0px 10px;                               /*  Tettem kis margint, hogy gombok elférjenek ha hover van*/
}



.bio {
    margin: 0px 70px 0px 70px;
}

/*CArds*/
.card {
    background-color: #444477;                           /*  Tettem új BGcolort ehelyett:  background-color: #82216e !important;*/
    opacity: 0.9;
}

.oszlop {
    flex-direction: row;
}

div.card.oszlop {
    background: none;
}

div.card-body.border {
    background-color: #444477;
    border: none;
}

div.card-body.border.border1 {
    margin-left: 1%;
}

.bg-dark {
    opacity: 0.6;
}

.deres {                                                            /* Nemtudom milyen lesz  csak ideraktam nézzétek meg */
    padding: 20px;
    margin: 0px 20px 0px 20px;
    width: 50%;
    height: 20%;
    opacity: none;
}

#deresc {                                                                   /*  Tettem új BGcolort ehelyett: !important;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black !important;
    opacity: 0.6;
}


/* Basic items */
.list-group-item.active {
    background: none;
    border: none;
}


.facebook {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.Instagram {
    height: 50px;
    width: 50px;
    border-radius: 15px;

}

.youtube {
    height: 50px;
    width: 50px;
    border-radius: 15px;

}

.ThreeCardsBox {
    display: flex;

}

.flexcontainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  margin: 0% 15% 0% 15%;  
} 

.border {
    margin: 1% 0 1% 0;
}

div#háttér.card-body.border {
    margin-left: 15px;
}

div.card-body.border{
    border: none !important;
}

.pics {
    max-height: 150px;
    max-width: 150px;
    margin: 10px 10px;
    border-radius: 5%;
}

.CP {
    max-width: 150px;
    max-height: 150px;
    margin: 10px 10px;
    text-align: center;
    align-self: center;
}

a:hover img {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a:hover {
    transform: scale(1.5);
    color: white;
}

/*Width of cards and containers*/
@media (max-width: 1000px) {
    body.sm-full {
        margin: 0 0 0 0;
    }

    .ThreeCardsBox {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .flexcontainer {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }


    .CP {
        max-width: 150px;
        text-align: center;
        align-self: center;
    }
    .oszlop {
        flex-direction: column;
    }
    div#háttér.card-body.border {
        margin-left: 0;
    }
    div.card-body.border.border1 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .ThreeCardsBox {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .oszlop {
        flex-direction: column;
    }

    .CP {
        max-width: 150px;
        text-align: center;
        align-self: center;
    }

}





































/*Facebook icon */

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
